/* PURPLE: #1C1D28*/

/* DEFAULTS */

html,body { height: 100%; }
*, *::before, *::after { box-sizing: border-box; margin: 0; padding: 0; color: #2a2a2a;}
a { 
	color: #a8a8a8; 
	text-decoration: none;
}

a, p, ul, li {
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s eases;
    -o-transition: all 0.5s eases;
    transition: all 0.5s eases;
}

a:hover { 
	color: #838543; 
}

.main { 
	display: flex; 
	height: 100%;
	box-sizing: border-box;
}

.main-child {
	flex-basis: 500px;
	flex-grow: 1;
}

/* LEFT */

.main-left { 
	position: relative;
	padding: 20px; 
	background: #f9f9f9;
}

.main-left p {
	margin-bottom: 40px;
	font-size: 24px;
	font-family: 'Ubuntu';
	font-style: italic;
}

.main-left-footer {
	position: absolute;
	bottom: 0;
}

.main-left-footer ul::after { content: ''; display: block; clear: both; }

.main-left-footer ul {
	padding-left: 0;
	list-style: none;
}

.main-left-footer ul li {
	float: left;
	width: 70px;
}

.main-left-footer ul li a img{
	width: 80%;
}

/* MIDDLE */

.main-middle { 
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1C1D28;
	width: 100%;
}

.main-middle-photo {
	text-align: center;
}

.my-photo {
	width: 80%;
	border-radius: 50%;
	-webkit-transition: -webkit-transform 1s ease-in-out;
	-moz-transition: -moz-transform 1s ease-in-out;
	-o-transition: -o-transform 1s ease-in-out;
	transition: transform 1s ease-in-out;
}

.my-photo-wrap {
	display: inline-block;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}

.my-photo-wrap::before {
	display: none;
	content: '';
}

.my-photo-wrap:hover::before {
	display: inline-block;
}

.my-photo:hover {
	-webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	transform: rotate(360deg);
}

.main-middle-photo figcaption {
	color: #FFFFFF;
	font-family: 'Ubuntu';
}

/* RIGHT */

.main-right {
	background: #f9f9f9;
	padding: 20px;
	font-family: 'Ubuntu';
}

.main-right h2 {
	margin-bottom: 20px;
}

.main-right ul {
	list-style: none;
}

.main-right ul li {
	border-bottom: 1px solid #ccc;
	padding: 3px 0;
}

.exp-year {
	display: inline-block;
	width: 100px;
	text-align: right;
}

.exp-year::after {
	content: ' |';
}

@media only screen and (max-width: 930px) {
	.main { 
		flex-direction: column;
	}

	.main-child {
		flex-basis: 300px;
		flex-grow: 1;
	}

	.main-left { 
		position: static;
		overflow-y: scroll;
	}

	.main-left p {
		margin-bottom: 20px;
	}

	.main-left-footer {
		right: 0;
	}

	.main-middle-photo {
		margin-top: 15px;
		padding: 10px;
	}

	.my-photo {
		width: 150px;
		height: 150px;
	}

	.main-right {
		overflow-y: scroll;
	}
}

@media only screen and (max-width: 570px) {
	.main-left p {
		font-size: 20px;
	}
}


@media only screen and (max-width: 479px) {
	.exp-year { 
		display: block; 
		text-align: left;
	}

	.exp-year::after {
		content: '';
	}
}

@media only screen and (min-width: 930px) and (max-width: 1529px) {
	.exp-year { 
		display: block; 
		text-align: left;
	}

	.exp-year::after {
		content: '';
	}
}

@media only screen and (max-width: 1149px) {
	.main-right li {
		font-size: 15px;
	}
}

@media only screen and (min-width:  930px) and (max-width: 1080px) {
	.main-right li b {
		display: block;
	}
}