@import './vars';
:root {
  --bg-color: #1d1d1d;
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--bg-color);
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #cecece;
}

a {
  text-decoration: underline;
}

a:hover {
  color: #f1f1f1;
}

::selection {
  background: #44ce7b;
}

h1 {
  margin-bottom: 20px;
  font-size: 3rem;
  color: #f1f1f1;
  letter-spacing: 1px;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: #f1f1f1;
  letter-spacing: 1px;
}

h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #f1f1f1;
  letter-spacing: 1px;
}

p {
  margin-bottom: 25px;
  font-size: 1.3rem;
  line-height: 1.7rem;
  letter-spacing: 0.7px;
}

blockquote {
  position: relative;
  width: auto;
  margin-bottom: 25px;
  padding: 3px;
  display: inline-block;
  border-radius: 20px;
  background: linear-gradient(
    90deg,
    $main-red,
    $main-yellow,
    $main-purple,
    $main-blue,
    $main-green
  );
}

blockquote > p {
  width: auto;
  height: 100%;
  margin: 0;
  padding: 20px 30px;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 2.2rem;
  background: #000;
  border-radius: 20px;
  font-style: italic;
}
