$main-red: #ce5e13;
$main-yellow: #f7db6c;
$main-purple: #a767e5;
$main-blue: #3182c4;
$main-green: #44ce7b;
$color-animation-duration: 60s;

@keyframes changeColor {
  0% {
    filter: hue-rotate(0);
  }
  50% {
    filter: hue-rotate(360deg);
  }
}
