@import './vars';

.nav {
  display: flex;
  justify-content: space-between;

  > a {
    position: relative;
    padding: 20px 0;
    font-size: 2rem;
    text-decoration: none;
    background-repeat: no-repeat;

    &::after {
      position: absolute;
      bottom: 13px;
      left: 0;
      width: 0;
      height: 3px;
      content: ' ';
      transition: width 0.3s ease-in-out, all 0.3s ease-in-out;
      text-decoration: none;
    }

    &.active {
      color: #fff;

      &::after {
        width: 100%;
        background: #fff;
      }
    }

    &:hover {
      &::after {
        width: 100%;
        background: #fff;
      }
    }

    @media (max-width: 800px) {
      font-size: 1.3rem;
    }

    @media (max-width: 500px) {
      padding: 20px 0;
    }

    @media (max-width: 400px) {
      font-size: 1.1rem;
    }
  }
}
