.list {
  margin: 10px 0 30px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;

  @media (max-width: 1000px) {
    justify-content: flex-start;
  }

  > li {
    @media (max-width: 1000px) {
      width: 80px;
      margin-bottom: 20px;
      text-align: center;
    }
  }
}
