@import './vars';

.home {
  > h1 {
    @media (max-width: 600px) {
      margin-top: 30px;
    }
  }
}

.image {
  position: relative;
  width: 410px;
  height: 410px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
  animation: glow 3s cubic-bezier(0.6, -0.28, 0.735, 0.045) infinite alternate;

  @media (max-width: 500px) {
    display: none;
  }

  &::before {
    position: absolute;
    width: 410px;
    height: 410px;
    display: block;
    border-radius: 50%;
    background: none;
    content: '';
    opacity: 0;
    background: linear-gradient(
      90deg,
      $main-red,
      $main-yellow,
      $main-purple,
      $main-blue,
      $main-green
    );
    box-shadow: 0px 0px 6px #2b3f69;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    box-shadow: 0px 0px 6px #2b3f69;

    > img {
      filter: blur(2px);
    }

    &::before {
      opacity: 1;
    }

    > .tagline {
      opacity: 0.8;
      transform: translateY(-90px);

      > span {
        opacity: 1;
      }
    }
  }

  > img {
    position: relative;
    border-radius: 50%;
    filter: blur(0);
    transition: all 0.5s linear;
  }

  > .tagline {
    position: absolute;
    bottom: 0;
    width: calc(100%);
    padding: 11px 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: linear-gradient(
      90deg,
      $main-red,
      $main-yellow,
      $main-purple,
      $main-blue,
      $main-green
    );
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    font-size: 22px;
    text-align: center;

    > span {
      opacity: 0;
      transition: opacity 0.2s ease-in-out 0.2s;
    }

    &::before {
      position: absolute;
      top: 4px;
      left: 4px;
      width: calc(100% - 8px);
      height: calc(100% - 8px);
      display: block;
      content: ' ';
      z-index: -1;
      background: #000;
    }
  }
}

@keyframes glow {
  0% {
    box-shadow: 0px 0px 0 #4c5b7a;
  }
  25% {
    box-shadow: 0px 0px 3px #4c5b7a;
  }
  50% {
    box-shadow: 0px 0px 6px #4c5b7a;
  }
  75% {
    box-shadow: 0px 0px 9px #4c5b7a;
  }
  100% {
    box-shadow: 0px 0px 12px #4c5b7a;
  }
}
